*/Pix2Pix/datasets
*/Pix2Pix/val_list.txt
*/Pix2Pix/train_list.txt
__pycache__
03_PlaywithGANs/DragGAN/checkpoints
04_3DGS/data/chair/*
!04_3DGS/data/chair/images
!04_3DGS/data/chair/r_62.png
!04_3DGS/data/chair/debug_rendering.gif
04_3DGS/data/lego/*
!04_3DGS/data/lego/images
!04_3DGS/data/lego/r_18.png
!04_3DGS/data/lego/debug_rendering.gif