02_DIPwithPyTorch/Pix2Pix/__pycache__
02_DIPwithPyTorch/Pix2Pix/datasets/facades/train
02_DIPwithPyTorch/Pix2Pix/datasets/facades/val
02_DIPwithPyTorch/Pix2Pix/datasets/facades/test
02_DIPwithPyTorch/Pix2Pix/train_results
02_DIPwithPyTorch/Pix2Pix/val_results
02_DIPwithPyTorch/Pix2Pix/train_list.txt
02_DIPwithPyTorch/Pix2Pix/val_list.txt
02_DIPwithPyTorch/Pix2Pix/datasets/cityscapes/train
02_DIPwithPyTorch/Pix2Pix/datasets/cityscapes/val